@media (max-width: 800px) {
    .header-nav {
        display: none;
    }

    .header-logo {
        margin-right: 484px;
        margin-top: 0;
        position: relative;
        left: 40px;
    }

    .slash {
        margin-right: 3px;
    }

    .header-container {
        background-image: url(assets/img/bg_header.jpg);
        background-position: center 0;
        background-repeat: no-repeat;

    }

    .hero-title {
        font-family: Merriweather;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 64px;
        margin-bottom: 5px;
    }
    .main-container {
        background-image: url(assets/img/bg_header.jpg);
        background-position: center 0;
        background-repeat: no-repeat;
    }
    
    .hero-subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        max-width: 390px;
        height: 72px;
        margin-bottom: 60px;
    }

    .container-hero {
        margin-top: -76px;
        margin-left: -20px;
    }

}